html,
body {
  margin: 0;
  overflow: hidden;
}


#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0, 0);
  transform-origin: center;
  z-index: -1;
}




.hero {

  height: 100vh;
  background-image: url('earth.mp4');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  margin: 0;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}



.header {
  display: flex;
  color: white;
  justify-content: space-evenly;
  gap: 2rem;
  height: 80px;
  align-items: center;
  background-color: black;
  margin-top: 0;
  width: 100%;
  position: fixed;
}

#logo a div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  display: flex;
  width: 800px;
}

.header div a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.header div a p:hover {
  transform: scale(1.05);
  color: orange;
}

.start-empty {
  width: 100%;
  height: 835px;
  display: flex;
  justify-content: start;
  align-items: center;
}


.start-empty div h1 {
  font-family: sans-serif;
  font-size: 40px;
  margin-left: 10px;
}

.start-empty div p {
  font-size: 20px;
  font-weight: 50;
  font-family: sans-serif;
  line-height: 40px;
}

.main-heading {
  padding-top: 10px;
}

.lastpart {
  color: white;
  background-color: black;
  width: 100%;
  height: 40px;
  text-align: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 15px;
}

.lastpart_x {
  color: white;
  background-color: black;
  width: 100%;
  height: 40px;
  text-align: center;
  align-content: center;
  font-family: Bulletto;
  font-size: 30px;
  scroll-behavior: smooth;
}

#nav {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #333;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: orange;
  color: black;
}

.dropdown.active .dropdown-content {
  display: block;
}

